.footer {
  position: sticky;
  top: 100%;
  height: 2.4rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-size: var(--fs-xs);
  background-color: var(--color-primary-xtra-light);
  color: var(--color-secondary);
  font-weight: var(--semibold);

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      font-weight: var(--bold);
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: var(--color-primary);
    }
  }
}

