@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

:root {
  // COLORS
  --color-primary: #ed1e69;
  --color-secondary: #667eea;
  --color-teritiary: #662d8c;
  --color-teritiary_var: #764ba2;

  --gradient-primary: linear-gradient(
    to top right,
    var(--color-teritiary),
    var(--color-primary)
  );
  --gradient-secondary: linear-gradient(
    to top right,
    var(--color-teritiary_var),
    var(--color-secondary)
  );

  --font-default: "Quicksand", sans-serif;
}
